<div class="wrapper">
    <div id="top">
        <div id="count"><%=@status_count%>/10</div>
        <div id="word"><h1><%=@word%></h1></div>
        <div id="timer"></div>
    </div>

    <form method="post" action="/game">
        <input type="text" name="song" placeholder="Search song/artist or lyrics" onkeypress="return rejectEnterKey(this)">
        <div id="game-buttons">
            <button id="submit" type="submit" name="submitted">
                submit <img src="/images/check-circle-regular.svg"/>
            </button>
            <button id="skip" type="submit" name="skipped">
                skip <img src="/images/forward-solid.svg" />
            </button>
        </div>
    </form>
</div>

<script src="/game.js"></script>
