<% if flash[:error] %>
    <div id="flash-error">
        <p><%= flash[:error] %></p>
    </div>
<% end %>
<div class="wrapper">
    <h1 id="title">
        song association
    </h1>
    <p id="description">
        inspired by ELLE's popular video series.<br />
        <b>singing out loud encouraged!</b>
    </p>
    <div id="start-button">
        <a href="/game">
            <img src="/images/play-circle-regular.svg"/>
        </a>
    </div>
    <p id="how-to-play-selection">
        how to play
    </p>
    <p id="credits-selection">
        <small>credits</small>
    </p>
</div>

<div id="how-to-play-box" class="hidden">
    <div id="how-to-play-inner">
        <div class="close" id="close_howtoplay">
            <img src="/images/times-solid.svg" />
        </div>
        <div id="how-to-play-header">
            <h1>how to play</h1>
            <h2>song association</h2>
        </div>
        <div id="how-to-play-info">
            <p>
                <b>press the play button</b> <img src="/images/play-circle-regular.svg" /> to start a new game.
            </p>
            <p>
                on the screen you will see a word.
            </p>
            <p>
                you will have 25 seconds to <b>successfully name a song with that word in its lyrics</b>.
            </p>

            <p>
                be sure to enter <b>both</b> the <i>song title</i> and <i>artist name</i>.
            </p>

            <p id="skip">
                if you can't think of a song, you can press skip <img src="/images/forward-solid.svg" />
            </p>
            <p>
                there will be 10 rounds. singing out loud is encouraged!
            </p>
        </div>
    </div>
</div>

<div id="credits-box" class="hidden">
    <div class="close" id="close_credits">
        <img src="/images/times-solid.svg" />
    </div>
    <div id="credits-top">
        <h1>credits for</h1>
        <h2>song association</h2>
    </div>
    <p>
        Web app created and developed by <a href="http://emilywritescode.com">Emily Lau</a>.<br />
        <a href="https://genius.com/developers">Genius API</a> for checking song lyrics.
    </p>
</div>

<script src="/index.js"></script>
