<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Song Association, a web app game based on ELLE's popular web video series. Singing out loud is encouraged!" />
    <meta name="keywords" content="song association, songs, song, music, web game, fill in the blank, ELLE" />
    <title>Song Association</title>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;700&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body><%= yield %></body>

</html>
