<div class="wrapper">
    <div id="top">
        <p>1/10</p>
        <h1 id="word">word goes here</h1>
        <p>0:25</p>
    </div>
    <input type="text" placeholder="enter song/artist or lyrics here">

    <div id="game-buttons">
        <div id="submit-button">
            submit <img src="/images/check-circle-regular.svg" />
        </div>
        <div id="skip-button">
            skip <img src="/images/forward-solid.svg" />
        </div>
    </div>
</div>
