body {
    font-size: 16px;
    font-family: "Arima Madurai";
    background-color: #A0C9C6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
}

/* LANDING PAGE */

#title {
    line-height: 1em;
    margin-top: 1.5em;
    margin-bottom: 0;
    color: #5B8582;
    font-size: 5.5em;
    font-weight: bold;
}

#description {
    color: #504040;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 2em;
    line-height: 1.1em;
}


#start-button img {
    height: 48px;
    border-radius: 24px;
}

#start-button img:hover {
    cursor: pointer;
}

#how-to-play-selection {
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 1.5em;
    color: #332F2F;
    text-decoration: underline;
}

#how-to-play-selection:hover {
    cursor: pointer;
}

#credits-selection {
    margin: 0;
    color: #332F2F;
}

#credits-selection:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}


/* MODAL BOXES */
.close img {
    position: absolute;
    right: 1.5em;
    top: 1.5em;
    height: 40px;
    margin: 0;
    padding: 0;
}

.close img:hover {
    cursor: pointer;
}


/* HOW TO PLAY MODAL BOX */

#how-to-play-box {
    position: absolute;
    height: 90%;
    width: 70%;
    background-color: #D0DEDD;
    z-index: 1;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.25em #5B8582 solid;
}

#how-to-play-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    width: 95%;
}

#how-to-play-header {
    margin-top: 2em;
    margin-bottom: 1.5em;
    line-height: 1em;
}

#how-to-play-header h1 {
    font-size: 2.5em;
    color: #332F2F;
}

#how-to-play-header h2 {
    font-size: 2em;
    color: #5B8582;
    margin-bottom: 0.5em;
}

#how-to-play-info {
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #504040;
    padding: 0.5em 1.5em;
    overflow-y: auto;
}

#how-to-play-info p {
    font-size: 1.35em;
    margin: 0.5em;
    line-height: 1em;
}

#how-to-play-info img {
    height: 25px;
    vertical-align: middle;
}

/* CREDITS MODAL BOX */
#credits-box {
    position: absolute;
    height: 50%;
    width: 40%;
    padding: 2%;
    background-color: #D0DEDD;
    z-index: 1;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.25em #5B8582 solid;
    color: #504040;
}

#credits-top {
    margin-bottom: 1.5em;
    line-height: 1em;
}

#credits-box h2 {
    color: #5B8582;
}

#credits-box a {
    color: #5B8582;
    text-decoration: none;
}


/* GAME PAGE */

#top {
    position: relative;
    width: 85%;
    margin: 0 auto;
    margin-top: 10%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#count, #timer {
    width: 10%;
    font-size: 1.5em;
    padding: 1.5%;
    text-align: center;
}

#word {
    font-size: 1.75em;
    line-height: 1.25em;
    text-align: center;
    width: 50%;
    margin: 0 2.5%;
    padding: 0;
    word-wrap: break-word;
}

input[type=text] {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Arima Madurai';
    background-color: #D0DEDD;
    text-overflow: ellipsis;
    width: 30%;
    padding: 0.25em;
    margin-top: 2.5%;
    border: none;
}

#dropdown {
    font-size: 1.5em;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 0 0.25em;
    text-align: center;
    background-color: #D0DEDD;
    opacity: 0.5;
    margin: 0 auto;
    z-index: 1;
}

#dropdown a {
    padding: 0.3em 0;
    font-size: 0.75em;
    display: block;
}

#dropdown a:hover {
    cursor: pointer;
    color: #5B8582;
}

#game-buttons {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#game-buttons img {
    margin: 0em 0.25em;
    height: 32px;
}

#submit {
    margin-right: 1.5em;
}

#skip {
    margin-left: 1.5em;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Arima Madurai';
    font-size: 1.5em;
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}


/* LOADING PAGE */

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #504040;
}


/* RESULTS PAGE */

#results-header {
    font-size: 2.25em;
    margin-top: 1em;
    margin-bottom: 0;
    color: #504040;
}

#results-score {
    font-size: 2.25em;
    margin: 0;
}

#results-text {
   width: 90%;
   color: #504040;
   margin: 1.25em auto;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

#results-text p {
    padding: 1em;
    margin: 0.5em;
    border: 0.05em #5B8582 solid;
    font-size: 1.25em;
}

#results-text a {
    color: #5B8582;
    text-decoration: none;
}

#new-session {
    margin-bottom: 1.5em;
}

#new-session a {
    color: #5B8582;
    font-size: 1.25em;
}
