body {
    font-size: 16px;
    font-family: "Arima Madurai";
    background-color: #A0C9C6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
    text-align: center;
}

/* LANDING PAGE */

#title {
    line-height: 1em;
    margin-top: 1.5em;
    margin-bottom: 0;
    color: #5B8582;
    font-size: 5.5em;
    font-weight: bold;
}

#description {
    color: #504040;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 2em;
    line-height: 1.1em;
}


#start-button img {
    height: 48px;
    border-radius: 24px;
}

#start-button img:hover {
    cursor: pointer;
}

#how-to-play-selection {
    margin-top: 2em;
    font-size: 1.5em;
    color: #332F2F;
    text-decoration: underline;
}

#how-to-play-selection:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

/* HOW TO PLAY MODAL BOX */

#how-to-play-box {
    position: absolute;
    height: 90%;
    width: 75%;
    background-color: #D0DEDD;
    z-index: 1;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.25em #5B8582 solid;
}

#close img {
    position: absolute;
    right: 1.5em;
    top: 1.5em;
    height: 40px;
    margin: 0;
    padding: 0;
}

#how-to-play-box #close img:hover {
    cursor: pointer;
}

#how-to-play-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    width: 95%;
}

#how-to-play-header {
    margin-top: 2em;
    margin-bottom: 1.5em;
    line-height: 1em;
}

#how-to-play-header h1 {
    font-size: 2.5em;
    color: #332F2F;
}

#how-to-play-header h2 {
    font-size: 2em;
    color: #5B8582;
    margin-bottom: 0.5em;
}

#how-to-play-info {
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #504040;
    padding: 0.5em 1.5em;
    overflow-y: auto;
}

#how-to-play-info p {
    font-size: 1.35em;
    margin: 0.5em;
    line-height: 1em;
}

#how-to-play-info img {
    height: 25px;
    vertical-align: middle;
}


/* GAME PAGE */

#top {
    position: relative;
    width: 85%;
    margin: 0 auto;
    margin-top: 10%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#count, #timer {
    width: 10%;
    font-size: 1.5em;
    padding: 2.5%;
    text-align: center;
}

#word {
    font-size: 1.75em;
    line-height: 1.25em;
    text-align: center;
    width: 50%;
    margin: 0 2.5%;
    padding: 0;
    word-wrap: break-word;
}

input[type=text] {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Arima Madurai';
    background-color: #D0DEDD;
    text-overflow: ellipsis;
    width: 65%;
    padding: 0.25em;
    border: none;
}

#game-buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    right: 50%
}

#game-buttons, #game-buttons div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    font-family: 'Arima Madurai'
}

#game-buttons img{
    margin: 0em 0.25em;
    height: 32px;
}

#submit-button {
    margin-right: 2em;
}

#skip-button {
    margin-left: 2em;
}
